
html {
    font-size: 11px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div {
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv {
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none;
}

#accesstokendata, #profileinfo, #userdata {
    display: none;
}

.buttongroup {
    text-align: center;
}

button {
    border:0;
    background-color:#003C9D;
    color:#fff;
    border-radius:10px;
    margin: 10px;
    width:140px;
    height:50px;
    font-size:80%;
    font-family:Microsoft JhengHei;
}
