
html {
    font-size: 11px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div {
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv {
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none;
}

#accesstokendata, #profileinfo, #userdata, #testbutton, #liffdata {
    display: none;
}

.buttongroup {
    text-align: center;
}

button {
    border:5px #FFAC55 solid;
    background-color:#337ab7;
    border-color:#2e6da4;
    color:#fff;
    border-radius:30px;
    margin: 30px;
    width:240px;
    height:140px;
    font-size:50px;
    font-family:Microsoft JhengHei;
}